*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 360px;
  margin: 0 auto;
}

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbe289e0), to(#f38b81e0)), url(../img/HeaderBG.png) no-repeat center/cover;
  background: linear-gradient(0deg, #fbe289e0 0%, #f38b81e0 100%), url(../img/HeaderBG.png) no-repeat center/cover;
  padding: 30px 0;
  color: #fff;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .header__nav .header__logo {
  font-size: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  margin-right: 490px;
}

.header .header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.header .header__nav .header__list li a {
  color: #fff;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-right: 50px;
}

.header .header__nav .header__list li a:hover {
  text-decoration: underline;
  color: #fce38a;
  cursor: pointer;
}

.header .header__nav .header__list img:not(:last-child) {
  margin-right: 50px;
}

.header .header__nav .header__list img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__nav .header__list img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.header .header__title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .header__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 60px;
}

.header .header__title h2 {
  min-width: 520px;
  width: 100%;
  margin-top: 160px;
  font-size: 72px;
  font-family: "Kaushan Script";
  font-weight: 400;
}

.header .header__title h1 {
  font-size: 150px;
  line-height: 140px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 70px;
}

.header .header__btns {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .header__btn {
  max-width: 160px;
  width: 100%;
  min-height: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  color: #fff;
  border: 3px solid #fff;
  margin-bottom: 160px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__btn:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
